body{
    font-family: sans-serif;
    background: lightblue;
    padding: 0;
    margin: 0;
}

h1{
    text-align: center;
    font-size: 50px;
}
h2{
    text-align: center;
    font-size: 30px;
}

#img-div{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 100px;
}

#img-id{
    margin: 0;
    padding: 10px;
    height:100%;
}

#image{
  width: 100%;
  display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

#img-caption{
    text-align: center;
    font-size: 18px;
    margin: 20px 0;
}

#tribute-info{
    margin: 0 auto;
    width: 70%;
    background-color: lightgray;
    padding: 50px;
    
}
#tribute-info h2{
    text-align: center;
    font-size: 30px;
}

#tribute-info li{
    margin: 10px;
    font-size: 20px;
    line-height: 32px;
}
#tribute-link{
    text-decoration: none;
}

